{% extends 'base.html.twig' %}

{% block page %}
<div class='row'>
    <div class='col-md-6'>
        {% include 'brand_store_assoc_form.html.twig' %}
        <br>
        <br>
        <h4>To Manage Store / Brand Associations</h4>
        <h4>Click adjacent <em>View / Edit Associations</em> buttons</h4>
        <br>
        <br>
        <h4> <a href='/get/stores'>Store Entry Edit</a></h4>
        <h4> <a href='/get/brands'>Brand Entry Entry Edit</a></h4>
        <br>
        <br>
        <form action='/delete/{{ this_entity }}/{{ this_item.getId }}/{{ related_entities }}' method='post'>
            <input name='_method' value='delete' hidden>
            <button type='submit' class='btn btn-xs btn-danger'>
                Delete All {{ related_entity_name }} Associations with {{ this_item.getName }} -- WARNING!
            </button>
        </form>
        <br>
        <br>
        <form action='/delete/{{ this_entities }}/{{ related_entities }}' method='post'>
            <input name='_method' value='delete' hidden>
            <button type='submit' class='btn btn-xs btn-danger'>
                Delete All Brand and Store Associations -- WARNING!
            </button>
        </form>
    </div> <!-- End Col -->

    <div class='col-md-6'>
        {% include 'brand_store_assoc_list.html.twig' with {'assoc': 1, items: assoc_related_items} %}

        {% include 'brand_store_assoc_list.html.twig' with {'assoc': 0, items: unassoc_related_items} %}
    </div> <!-- End Col -->
</div> <!-- End Row -->
{% endblock %}
