{% extends 'base.html.twig' %}

{% block page %}
<div class='row'>
    <div class='col-md-6'>
        {% include 'brand_store_assoc_form.html.twig' %}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <form action='/delete/store/{{ this_item.getId }}}/brands' method='post'>
            <input name='_method' value='delete' hidden>
            <button type='submit' class='btn btn-xs btn-danger'>
                Delete All {{ related_entity_name }} Associations for {{ this_entity_name }} {{ this_item.name }} -- WARNING!
            </button>
        </form>
        <br>
        <form action='/delete/{{ this_entities }}/{{ related_entities }}' method='post'>
            <input name='_method' value='delete' hidden>
            <button type='submit' class='btn btn-xs btn-danger'>
                Delete All {{ this_entity_name }} / {{ related_entity_name }} Associations -- WARNING!
            </button>
        </form>
    </div> <!-- End Col -->

    <div class='col-md-6'>
        {% include 'edit_list.html.twig' with {'list_header': crud_header, items: crud_items} %}

        {% include 'edit_list.html.twig' %}
    </div> <!-- End Col -->
</div> <!-- End Row -->
{% endblock %}
