<table class='table table-striped'>
    <thead>
        <th>{{ list_header }}</th>
        <th>{{ related_entity_name }} Associations</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>

    <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.getName }}</td>
                <td>
                    <form action='/get/{{ this_entity }}/{{ item.getId }}/{{ related_entities }}' method='get'>
                        <button type='submit' class='btn btn-xs btn-info'
                            {% if item.getId == 0 %}
                                disabled="disabled"
                            {% endif %}
                        >
                            View / Edit Associations
                        </button>
                    </form>
                </td>
                <td>
                    <form action='/get/{{ this_entity }}/{{ item.getId }}/edit' method='get'>
                        <button type='submit' class='btn btn-xs btn-default'
                            {% if item.getId == 0 %}
                                disabled="disabled"
                            {% endif %}
                        >
                            Edit
                        </button>
                    </form>
                </td>
                <td>
                    <form action='/delete/{{ this_entity }}/{{ item.getId }}' method='post'>
                        <input name='_method' value='delete' hidden>
                        <button type='submit' class='btn btn-xs btn-warning'
                            {% if item.getId == 0 %}
                                disabled="disabled"
                            {% endif %}
                        >
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
