{% extends 'base.html.twig' %}

{% block page %}
<div class='row'>
    <div class='col-md-6'>
        {% if edit_store.getId %}
            <h3>Edit Store</h3>
            <form action='/patch/store' method='post'>
                <div class='form-group'>
                    <input name='_method' value='patch' hidden>
                    <input name='id' value='{{ edit_store.getId }}' hidden>
                    <label for='name'>Name</label>
                    <input name='name' class='form-control' type='text'
                        value='{{ edit_store.getName }}'
                    >
                </div>

                <button type='submit' class='btn btn-primary'>Save</button>
            </form>
        {% else %}
            <h3>New Store</h3>
            <form action='/post/store' method='post'>
                <div class='form-group'>
                    <label for='name'>Name</label>
                    <input name='name' class='form-control' type='text'>
                </div>

                <button type='submit' class='btn btn-primary'>Save</button>
            </form>
        {% endif %}

        <form action='/get/stores' method='get'>
            <button type='submit' class='btn btn-primary'>All Stores</button>
        </form>

        <br>
        <br>
        {% if edit_brand.getId %}
            <h3>Edit Brand</h3>
            <form action='/patch/brand' method='post'>
                <div class='form-group'>
                    <input name='_method' value='patch' hidden>
                    <input name='id' value='{{ edit_brand.getId }}' hidden>
                    <label for='name'>Name</label>
                    <input name='name' class='form-control' type='text'
                        value='{{ edit_brand.getName }}'
                    >
                </div>

                <button type='submit' class='btn btn-primary'>Save</button>
            </form>
        {% else %}
            <h3>New Brand</h3>
            <form action='/post/brand' method='post'>
                <div class='form-group'>
                    <label for='name'>Name</label>
                    <input name='name' class='form-control' type='text'>
                </div>

                <button type='submit' class='btn btn-primary'>Save</button>
            </form>
        {% endif %}

        <form action='/get/brands' method='get'>
            <button type='submit' class='btn btn-primary'>All Stores</button>
        </form>

    </div> <!-- End Col -->

    <div class='col-md-6'>
        <table class='table table-striped'>
            <thead>
                <th>{{ list_header }}</th>
                <th>View/Edit Associations with {{ related_entities }}</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>

            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.getName }}</td>
                        <td>
                            <form action='/get/{{ this_entity }}/{{ item.getId }}' method='get'>
                                <button type='submit' class='btn btn-xs btn-info'>View Edit Associations</button>
                            </form>
                        </td>
                        <td>
                            <form action='/get/{{ this_entity }}/{{ item.getId }}/edit' method='get'>
                                <button type='submit' class='btn btn-xs btn-info'>Edit</button>
                            </form>
                        </td>
                        <td>
                            <form action='/delete/author/{{ author.getId }}' method='post'>
                                <input name='_method' value='delete' hidden>
                                <button type='submit' class='btn btn-xs btn-warning'>
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> <!-- End Col -->
</div> <!-- End Row -->
{% endblock %}
