{% if edit_item.getId %}
    <h4>Edit {{ this_entity_name }}</h4>
    <form action='/patch/{{ this_entity }}' method='post'>
        <div class='form-group'>
            <input name='_method' value='patch' hidden>
            <input name='id' value='{{ edit_item.getId }}' hidden>
            <label for='name'>Name</label>
            <input name='name' class='form-control' type='text'
                value='{{ edit_item.getName }}'
                autofocus="autofocus"
                autocomplete="off"
            >
        </div>

        <button type='submit' class='btn btn-primary'>Update</button>
    </form>
{% else %}
    <h4>New {{ this_entity_name }}</h4>
    <form action='/post/{{ this_entity }}' method='post'>
        <div class='form-group'>
            <label for='name'>Name</label>
            <input name='name' class='form-control' type='text'
                autofocus="autofocus"
                autocomplete="off"
            >
        </div>

        <button type='submit' class='btn btn-primary'>Save</button>
    </form>
{% endif %}
